/*
   Add additional application styles or override styles provided by the selected theme or widgets.
   You can include SASS syntax, as this file is built to a css file using a SASS processor.

   Available Variables:

   Variable Name      Description
   ----------------------------------------------------
   $resources         References the directory where resources reside (images, etc.), this directory may be different
                      between the design time and the runtime directory structure.

                      Example: background-image: url(#{$resources}/Uploaded/image.png)

   $font-path        References the relative directory where fonts are stored.
*/


$PTC-black: #21262a;
$PTC-dark-grey: #282f35;
$PTC-medium-grey: #656a71;
$PTC-light-grey: #c3cbcd;
$PTC-green: #00890b;
$PTC-neon-green: #40aa1d;
$White: white;


// ---- POPUPS
.full-page-popup {
  background-color: $PTC-dark-grey;
}

.right-side-popup {
  position: fixed;
  right: 0px !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px 0px 0px 5px;
  background-color: $PTC-dark-grey;    
  opacity: 90%;
}

.left-side-popup {
  position: fixed;
  left: 0px !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 0px 5px 5px 0px;
  background-color: $PTC-dark-grey;    
  opacity: 90%;
}

.bottom-side-popup {
  position: fixed;
  bottom: 0px !important;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 5px 5px 0px 0px;
  background-color: $PTC-dark-grey;    
  opacity: 90%;  
}

.error-popup {
  background-color: $PTC-dark-grey;
  border-radius: 5px;  
}

// ---- BUTTONS
.long-button--green {
  background-color: $PTC-green;  
  border-radius: 5px;
  color: $White;
  font-weight: 600;
  font-size: 14px;
}

.icon-button {
  min-width: 40px;
  min-height: 40px;
  font-size: 20px;
  padding: 0px;
  opacity: 90%;
}

.button--grey {
  background-color: $PTC-dark-grey;  
  color: $White;
}

.button--green {
  background-color: $PTC-green;  
  color: $White;
}

.rounded-button {
  border-radius: 50px;
  background-color: $PTC-medium-grey;
  border-color: $White;
  min-width: 20px;
  min-height: 20px;
  line-height: 10px;
  font-size: 10px;
}

// ---- LABELS
.simple-label {
  color: $White;
  font-size: 14px;  
}

.simple-label--green {
  color: $PTC-neon-green; 
  font-weight: 600;
}

.title-label {
  font-weight: 600; 
  font-size: 18px; 
  line-height: 24px;
}

.sub-title-label {
  font-size: 16px; 
  line-height: 22px;
}

.header-label {
  font-weight: 600; 
  font-size: 14px;  
}

// ---- OTHERS
[scrollable=true][original-widget=twx-list] ion-list {
  overflow-x: hidden;
}

.item {
  background-color: $PTC-dark-grey;
  color: $White;
  border-color: $PTC-medium-grey;
  border-width: 2px;
  font-size: 14px;
  line-height: 14px;
}

ion-item.selected {
  background-color: $PTC-green;
  color: $White;
}

.item.activated {
  background-color: $PTC-green;
  color: $White;
}

.repeater-cell {
  border-bottom: 0px;
  background-color: transparent !important;
}
